html,
body {
  height: 100%;
}
.wrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 5vw;
}
.cell-width {
  width: 450px;
}
.main-bg {
  background-color: #2f7fef;
}
.main-border {
  border-color: #2f7fef;
}
.main-border-bottom {
  border-bottom: 1px solid #2f7fef;
}
.min-height {
  min-height: 5rem;
}
.main-text-color {
  color: #2f7fef;
}
.add-sibling {
  margin-left: 15rem;
  margin-top: -5rem;
}
.add-sibling-btn {
  opacity: 0;
}
.add-sibling-btn:hover {
  opacity: 1;
}
/*vertical lines to connect among cells */
.above-line::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 48px;
  top: -48px;
  left: 50%;
  border-left: 2px solid #2f7fef;
  transform: translate(-50%);
}

.below-line::before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 36px;
  bottom: -36px;
  left: 50%;
  border-left: 2px solid #2f7fef;
  transform: translate(-50%);
}
/* horizontal line to connect between cells */
.left-connect-line::before {
  content: '';
  position: absolute;
  left: 0;
  /* half of width w-64 128px */
  right: 50%;
  height: 1px;
  background-color: #2f7fef;
}
.parent-left-connect-line::before {
  content: '';
  position: absolute;
  left: 0;
  /* half of width w-64 128px */
  right: 50%;
  height: 1px;
  background-color: #2f7fef;
}
.right-connect-line::before {
  content: '';
  position: absolute;
  left: 50%;
  right: 0;
  height: 1px;
  background-color: #2f7fef;
}
.full-connect-line::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #2f7fef;
}
/* cell draggable */
.draggable {
  cursor: move;
}
.drop-zone {
  pointer-events: none;
}
.right-dz {
  margin-top: 48px;
}
.left-dz {
  margin-top: 48px;
}
.is-dragging {
  transform: translateX(20px);
}
