.main-bg {
  background-color: #2f7fef;
}
.main-border {
  border-color: #2f7fef;
}
.main-border-bottom {
  border-bottom: 1px solid #2f7fef;
}
.min-height {
  min-height: 5rem;
}
.main-text-color {
  color: #2f7fef;
}
.add-sibling {
  margin-left: 15rem;
  margin-top: -5rem;
}
.add-sibling-btn {
  opacity: 0;
}
.add-sibling-btn:hover {
  opacity: 1;
}
/* lines to connect among cells */
.vertical-line::after {
  content: '';
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  /* margin-right: -100%; */
  /* margin-left: 10px; */
  border-top: 1px solid black;
}
