.main-bg {
  background-color: #2f7fef;
}
.main-border {
  border-color: #2f7fef;
}
.main-border-bottom {
  border-bottom: 1px solid #2f7fef;
}
.min-height {
  min-height: 5rem;
}
.main-text-color {
  color: #2f7fef;
}
.add-sibling {
  margin-left: 15rem;
  margin-top: -5rem;
}
.add-sibling-btn {
  opacity: 0;
}
.add-sibling-btn:hover {
  opacity: 1;
}
/* lines to connect among cells */
.above-line::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -20px;
  bottom: 0px;
  left: 50%;
  border-left: 2px solid #2f7fef;
  /* transform: translate(-50%); */
}

.below-line::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 50%;
  border-left: 2px solid #2f7fef;
  transform: translate(-50%);
}
.connect-line::before {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  background-color: #2f7fef;
}
